.bigImg{
	width: 100%;
}
.bigImg img{
	width: 100%;
}
.newTitle{
	width: 100%;
	overflow: hidden;
	padding: 0 0 21px 0;
	color: white;
	font-size: 20px;
	text-align: center;
}
.navList{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.navList ul li{
	overflow: hidden;
	float: left;
}
.navList ul{
	display: inline-block;
}
.navList ul li a{
    display: block;
    margin: 0 5px;
    font-size: 16px;
    line-height: 75px;
    text-align: center;
    padding: 0 20px;
    background: white;
    font-weight: 300;
    line-height: 38px;
    height: 38px;
    color: black;
}
.newsNav{
	padding: 10px 0;
	background-color: #212121;
	border-bottom: 1px solid #f1501a;
}
.navList ul a:hover{
	background: #f1501a;
	color: white;
	text-decoration: none;
}
/*推荐热门最新*/
.newsNavTwo{
	padding: 30px 0;
	background-color: #212121;
}
#navListTwo ul li{
	float: left;
	margin-right: 10px;
	padding: 5px 10px;
    font-size: 14px;
    background: white;
    border-radius: 2px;
}
#navListTwo ul li a{
    color: black;
}
#navListTwo ul li a:hover{
	text-decoration: none;
	color: red;
}
#navListTwo #iconNav{
	font-size: 2px !important;
	font-weight: 400;
}
/*行业资讯*/
#newListContent{
	 background: #212121;
}
.newtitle{
    text-align: center;
    padding-top: 50px; 
}
.newTop{
	font-size: 16px;
    color: #f1501a;
    font-weight: bold;
}
.newsHr{
    display: block;
    margin: 10px auto;
    width: 60px;
    height: 4px;
    background: #f1501a;
}

.row{
	padding: 30px;
}
.newRight{
	padding: 0;
    border: 1px solid #343434;
}
.newLeft{
	margin-top: 25%;
	padding: 25px 0 25px 25px;
    background: #343434;
}
.day{
    font-size: 36px;
    color: #f1501a;
    font-weight: bold;
}
.time{
    font-size: 14px;
    color: #d3d3d3;
}
.timeHr{
    display: block;
    width: 70px;
    height: 1px;
    background: #cccccc;
}
.newRight img{
	width: 100%;
}
.newRight .newText{
    padding: 20px 40px;
}
.newText h4{
    font-size: 22px;
    color: white;
}
.newsRighHr{
	display: block;
    width: 70px;
    height: 4px;
    background: #f1501a;
    margin: 10px 0;
}
.newText p{
    font-size: 14px;
    color: #d3d3d3;
    line-height: 24px;
}
.newText .lookDetail{ 
	display: inline-block;
    padding: 15px 50px;
    border: 1px solid #f1501a;
    color: red;
    transition: .5s;
}
.lookDetail:hover{
	background: #f1501a;
	color: white;
	text-decoration: none;
}
#newListContent ul li{
	overflow: hidden;
	padding: 30px 0;
}
.pageItem{
	width: 100%;
	text-align: center;
	cursor: default;
}
.preSpan,.pextSpan{
	padding: 9px 15px;
    color: #d3d3d3;
}
.pageItem a{
	padding: 9px 15px;
	background: #f1501a;
	color: white;
}
#newListContent a:hover{
	text-decoration: none;
}
.row:nth-child(3),.row:nth-child(2){
	display: none;
}
.newsUlBox{
	transform: translateY(300px);
}
.navList ul li:nth-child(1) a{
	background-color: #f1501a;
	color: white;
}
@media only screen and (max-width: 766px) {
	#newListContent .container{
		width: 100%;
	}	
	.newRight h4{
		font-size: 16px;
	}
	.newRight .newText{
	    padding: 20px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
	.newRight h4{
		font-size: 18px;
	}
}